<!DOCTYPE html>
<html>
<head>
    <title>
        Born-chic
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
    <script src="/javascript/functions.js"></script>
    <style>
        #star a {
            text-decoration: none;
            color: gray;
        }

        #star a.on {
            color: sandybrown;
        }
    </style>
</head>
<body>
<a href="/main" class="nav-link">
    <div class="jumbotron text-center">
        <h1 style="color: dimgrey">Born-chic</h1>
    </div>
</a>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" style="color: aliceblue">Menu</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a href="/itemlist/m_outer/1" class="nav-link">남성 아우터</a></li>
            <li class="nav-item"><a href="/itemlist/m_tops/1" class="nav-link">남성 상의</a></li>
            <li class="nav-item"><a href="/itemlist/m_bottoms/1" class="nav-link">남성 하의</a></li>
            <li class="nav-item"><a href="/itemlist/w_outer/1" class="nav-link">여성 아우터</a></li>
            <li class="nav-item"><a href="/itemlist/w_tops/1" class="nav-link">여성 상의</a></li>
            <li class="nav-item"><a href="/itemlist/w_bottoms/1" class="nav-link">여성 하의</a></li>
        </ul>
        <form class="navbar-form pull-left" role="search" method="post">
            <div class="input-group">
                <input type="text" class="form-control" name="search" placeholder="Search">
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-default">검색</button>
                </div>
            </div>
        </form>
        <% if(user_id == ''){ %>
            <ul class="navbar-nav">
                <li class="nav-item"><a href="/main/login" class="nav-link">Login</a></li>
            </ul>
        <% }else{
        if(admin == '' || admin == 0){ %>
            <ul class="navbar-nav">
                <li class="nav-item "><a class="nav-link" href="/mypage">마이페이지</a></li>
                <li class="nav-item "><a class="nav-link" href="/main/delete_cookie">Logout</a></li>
            </ul>
        <% } else{ %>
            <ul class="navbar-nav">
                <li class="nav-item "><a class="nav-link" href="/manage/m_outer/1">물품관리</a></li>
                <li class="nav-item "><a class="nav-link" href="/usermanage">회원관리</a></li>
                <li class="nav-item "><a class="nav-link" href="/main/delete_cookie">Logout</a></li>
            </ul>
        <% } %>
        <% } %>
    </div>
</nav>
<br><br>
<div class="container-fluid">
    <div class="row">
        <div class="row-cols-8">
            <img style="margin-left: 300px" src="<%= rows[0].image %>" width="300" height="300">
        </div>
        <input type="hidden" id="stock" value="<%= rows[0].stock %>"/>
        <div class="row-cols-4">
            <br>
            <p style="margin-left: 100px"><%= rows[0].i_name %></p>
            <p style="margin-left: 100px">평점 :
                <% if(rating == null){ %> 입력된 평점이 없습니다.
                <% }else{ %>
                <span style="color: sandybrown">
                    <% for(var i = 0; i < rating; i++){ %>★
                    <% }} %>
                </span></p>
            <p style="margin-left: 100px">가격 : <%= rows[0].price %></p>
            <p style="margin-left: 100px">남은 재고 :
                <% if(rows[0].stock == 0){ %>
                    <span style="color: red">품절</span>
                <% }else{ %>
                <%= rows[0].stock %>
                <% } %>
            </p>
            <p style="margin-left: 100px">입고 일자 : <%= date %></p>
            <div class="input-group mb-3" style="margin-left: 100px">
                <input type="hidden" id="idx" value="<%= rows[0].i_code %>"/>
                <input type="hidden" id="user_id" value="<%= user_id %>"/>
                <div class="form-inline form-group">
                    <label for="phone_num">수량 :&nbsp;&nbsp;</label>
                    <input type="text" class="form-control input-lg" style="width: 70px" value="1" id="count_button">
                </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;
                <button class="btn btn-dark btn-sm btn-block mt-1 col-lg-6" type="button" onclick="shopping_basket()">
                    장바구니
                </button>&nbsp;
                <button class="btn btn-dark btn-sm btn-block mt-1 col-lg-6" type="button"
                        onclick="shopping_buy('<%= rows[0].i_name %>',<%= rows[0].price %>)">구매하기
                </button>
            </div>
        </div>
    </div>
</div>
<br><br><br>

<p style="text-align:center">
    <a class="btn btn-dark btn-sm" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
       aria-controls="collapseExample">
        제품 상세 보기
    </a>
</p>
<div class="collapse" id="collapseExample">
    <div class="card card-body">
        <%
        var test = rows[0].detail.split('\n');
        for(var i = 0; i < test.length; i++){
        if(test[i].includes('/img/')){ %>
        <p style="text-align: center"><img src="<%= test[i] %>"></p>
        <% }else{ %>
        <p style="text-align: center; margin-left: 40px; margin-right: 40px"><%= test[i] %></p>
        <%
        }}
        %>
    </div>
</div>


<br><br><br>


<h5 style="margin-right: 40px;margin-left: 40px">제품 리뷰</h5>
<%
if(reply.length == 0 || reply == null){ %>
    <p style="margin-right: 40px;margin-left: 40px">아직 댓글이 없습니다.</p>
<% } %>

<%
for(var i = 0; i < reply.length; i++){ %>
<hr class="my-3" style="margin-left: 40px; margin-right: 40px">
<% if(admin == '' || admin == 0){ %>
<p style="margin-right: 40px;margin-left: 40px">
    <% if(reply[i].reply == 1){ %>
    &nbsp;&nbsp;&nbsp;&nbsp; 관리자 : <%= reply[i].c_id %> <br>&nbsp;&nbsp;&nbsp;&nbsp; [RE] : <%= reply[i].content %> </p>
<!-- 답글인 경우에 띄어쓰기 해준부분-->
<% }else{ %>
작성자 : <%= reply[i].c_id %> &nbsp; 별점 : <span style="color: sandybrown">
    <% for(var j = 0; j < reply[i].rating; j++){ %>★
    <% } %>
</span> <br>
<%
    var test = reply[i].content.split('\n');
for(var j = 0; j < test.length; j++){
if(test[j].includes('/img/')){ %>
<p style="margin-right: 40px;margin-left: 40px"><img src="<%= test[j] %>" width="200" height="150"></p>
<% }else{ %>
<p style="margin-right: 40px;margin-left: 40px"><%= test[j] %></p>
<%
}}
%><!--여기는 관리자 아닌경우에는 클릭 못하도록 댓글 만들기-->
<% } %>
<% }else{ %>
<p style="margin-right: 40px;margin-left: 40px">
    <% if(reply[i].reply == 1){ %>
    &nbsp;&nbsp;&nbsp;&nbsp; 관리자 : <%= reply[i].c_id %> <br>&nbsp;&nbsp;&nbsp;&nbsp; [RE] : <%= reply[i].content %> </p>
<!-- 답글인 경우에 띄어쓰기 해준부분-->
<% }else{ %>
작성자 : <%= reply[i].c_id %> &nbsp; 별점 : <span style="color: sandybrown">
    <% for(var j = 0; j < reply[i].rating; j++){ %>★
    <% } %>
</span>&nbsp;&nbsp;
<button class="btn btn-dark btn-sm" type="button" onclick="reply_change('<%= reply[i].c_id %>', <%= reply[i].idx %>)">
    <img src="/img/reply.png" alt="btnImages" class="btnImages" width="20" height="20"></button>
<br>
<%
    var test = reply[i].content.split('\n');
for(var j = 0; j < test.length; j++){
if(test[j].includes('/img/')){ %>
<p style="margin-right: 40px;margin-left: 40px"><img src="<%= test[j] %>" width="200" height="150"></p>
<% }else{ %>
<p style="margin-right: 40px;margin-left: 40px"><%= test[j] %></p>
<%
}} %>
<% } %>
</p>         <!--여기는 관리자인 경우에는 댓글만 클릭할 수 있도록 만들기-->
<% }} %>
<% if(admin == '0'){ %>
    <div class="card mb-2">
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <p id="star"> <!-- 부모 -->
                        별점 :
                        <a href="#" value="1">★</a> <!-- 자식들-->
                        <a href="#" value="2">★</a>
                        <a href="#" value="3">★</a>
                        <a href="#" value="4">★</a>
                        <a href="#" value="5">★</a>
                    </p>
                    <input type="hidden" id="reply_id" value=""/>
                    <input type="hidden" id="reply_star" value=""/>
                    <label style="width:120px;" class="form-control" aria-describedby="basic-addon1" for="addImage">이미지
                        삽입</label>
                    <textarea class="form-control" id="reply_content" rows="3"></textarea>
                    <br>
                    <button class="btn btn-dark btn-sm" type="button" onclick="reply_write()">작성하기</button>
                </li>
            </ul>
        </div>
    </div>
    <input type="file" name="addImage" id="addImage" style="display:none;"/></td> <!-- 안보임 -->
<% }else{ %>
    <div class="card mb-2">
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <input type="hidden" id="reply_id" value=""/>
                    <textarea class="form-control" id="reply_content" rows="3"></textarea>
                    <br>
                    <button class="btn btn-dark btn-sm" type="button" onclick="reply_write()">작성하기</button>
                </li>
            </ul>
        </div>
    </div>
<% } %>

<script>
    $('#star a').click(function () {
        $(this).parent().children("a").removeClass("on");
        $(this).addClass("on").prevAll("a").addClass("on");
        console.log($(this).attr("value"));
        $('#reply_star').val($(this).attr("value"));
        return false;
    });
    var fileInput = document.getElementById("addImage");
    fileInput.addEventListener('change', function (e) {
        var total_text = document.getElementById("reply_content");
        var image = fileInput.value;
        var strarr = image.split("\\");
        var image_path;
        for (var i = 0; strarr[i] != null; i++)
            image_path = '/img/' + strarr[i];
        var input_image = '\r\n' + image_path;
        total_text.value += input_image;
    });
</script>
</body>
</html>
