<!DOCTYPE html>
<html>
<head>
    <title>
        Born-chic
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="/javascript/functions.js"></script>

</head>

<body>
<a href="/main"  class="nav-link"> <div class="jumbotron text-center">
        <h1 style="color: dimgrey">Born-chic</h1>
    </div></a>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" style="color: aliceblue">Menu</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a href="/itemlist/m_outer/1" class="nav-link">남성 아우터</a></li>
            <li class="nav-item"><a href="/itemlist/m_tops/1" class="nav-link">남성 상의</a></li>
            <li class="nav-item"><a href="/itemlist/m_bottoms/1" class="nav-link">남성 하의</a></li>
            <li class="nav-item"><a href="/itemlist/w_outer/1" class="nav-link">여성 아우터</a></li>
            <li class="nav-item"><a href="/itemlist/w_tops/1" class="nav-link">여성 상의</a></li>
            <li class="nav-item"><a href="/itemlist/w_bottoms/1" class="nav-link">여성 하의</a></li>
        </ul>
        <form class="navbar-form pull-left" role="search" method="post">
            <div class="input-group">
                <input type="text" class="form-control" name="search" placeholder="Search">
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-default">검색</button>
                </div>
            </div>
        </form>
        <%if(user_id == ''){%>
            <ul class="navbar-nav">
                <li class="nav-item"><a href="/main/login" class="nav-link">Login</a></li>
            </ul>
        <%}else{
        if(admin == '' || admin == 0){%>
            <ul class="navbar-nav">
                <li class="nav-item "><a class="nav-link" href="/mypage">마이페이지</a></li>
                <li class="nav-item "><a class="nav-link" href="/main/delete_cookie">Logout</a></li>
            </ul>
        <%} else{%>
            <ul class="navbar-nav">
                <li class="nav-item "><a class="nav-link" href="/manage">물품관리</a></li>
                <li class="nav-item "><a class="nav-link" href="/main/delete_cookie">Logout</a></li>
            </ul>
        <%}%>
        <%}%>
    </div>
</nav>
<br><br>
<p>아이디: <%=user[0].u_id%></p>
<p>이름: <%=user[0].u_name%></p>
<p>주소: <%=addr[0]%> <%=addr[1]%></p>
<p>폰: <%=user[0].u_number%></p>
<br><br><br><br>
<button type="button" class="btn btn-dark btn-sm btn-block mt-1" onclick="change_info(1)">개인정보 수정</button>
<button type="button" class="btn btn-dark btn-sm btn-block mt-1" onclick="change_info(2)">비밀번호 변경</button>

<%
var basketEmpty = true;
var basketRows = [];
var deliveryEmpty = true;
var deliveryRows = [];
var j = 0;
var k = 0;
for(var i=0; i<rows.length; i++) {
    if (rows[i].delivery == -1) {
        basketEmpty = false;
        basketRows[j] = rows[i];
        j = j + 1;
    }
    else{
        deliveryEmpty = false;
        deliveryRows[k] = rows[i];
        k = k + 1;
    }
}
%>
<div class="container">
    <h4>장바구니<img src="/img/basket.jpg" style="width: 50px; height: 50px"></h4>
    <table class="table">
        <thead>
            <tr class="table-secondary">
                <th scope="col"></th>
                <th scope="col">상품명</th>
                <th scope="col">가격</th>
                <th scope="col">수량</th>
                <th scope="col">확인</th>
            </tr>
        </thead>
        <tbody>
        <tr>
        <%if(basketEmpty) {%>
        </tr></tbody></table>
        <h3 style="text-align: center">장바구니가 비었습니다.</h3>
        <h5 style="text-align: center"><a href = "/main">계속 쇼핑하기</a></h5>
        <%}
        else{
        for(var i = 0; i < basketRows.length; i++){
            var basketItem = basketRows[i]; %>
        <div class="row-cols-lg-3-lg-3">
            <td><img src="<%=basketItem.image%>" width="200" height="200"></td>
            <td style="vertical-align: middle"><a style="color: black; text-decoration: none" href="/itemdetail/<%= basketItem.i_code%>"><%= basketItem.i_name %></a></td>
            <td style="vertical-align: middle"><%=basketItem.price * basketItem.b_count%>원</td>
            <td style="vertical-align: middle"><%=basketItem.b_count%></td>
            <td style="vertical-align: middle"><button type="submit" class="btn btn-dark btn-sm" onclick="purchase_popup('<%=basketItem.i_code%>', <%=basketItem.b_count%>)">구매</button>&nbsp;<button type="submit" class="btn btn-dark btn-sm" onclick="purchase_delete_popup(<%=basketItem.i_code%>)">제거</button></td>
        </div></tr></tbody>
        <%}} %>
    </table>
    <br><br><br><br>
    <h4>배송목록<img src="/img/delivery.png" style="width: 50px; height: 50px"></h4>
    <table class="table">
        <thead>
        <tr class="table-secondary">
            <th scope="col"></th>
            <th scope="col">상품명</th>
            <th scope="col">가격</th>
            <th scope="col">수량</th>
            <th scope="col">배송 현황</th>
            <th scope="col">확인</th>
            <th scope="col">배송지</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <%if(deliveryEmpty) {%>
        </tr></tbody></table>
            <h3 style="text-align: center">현재 배송중인 상품이 없습니다.</h3>
            <h5 style="text-align: center"><a href = "/main">계속 쇼핑하기</a></h5><br><br><br><br>
        <%}
        else{
        for(var i = 0; i < deliveryRows.length; i++){
            var deliveryItem = deliveryRows[i]; %>
        <div class="row-cols-lg-3-lg-3">
            <td style="width: 348px; height: 225px"><img src="<%=deliveryItem.image%>" width="200px" height="200px"></td>
            <td style="vertical-align: middle"><a style="color: black; text-decoration: none" href="/itemdetail/<%= deliveryItem.i_code %>"><%= deliveryItem.i_name %></a></td>
            <td style="vertical-align: middle"><%=deliveryItem.price * deliveryItem.b_count%>원</td>
            <td style="vertical-align: middle"><%=deliveryItem.b_count%></td>
            <% if(deliveryItem.delivery == 0){%>
            <td style="vertical-align: middle">배송 준비중</td><td></td>
            <%} else if(deliveryItem.delivery == 1){%>
            <td style="vertical-align: middle">배송 중</td><td></td>
            <%} else{%>
            <td style="vertical-align: middle">배송 완료</td>
            <td style="vertical-align: middle"><button type="submit" class="btn btn-dark btn-sm" onclick="delivery_complete(<%=deliveryItem.i_code%>)">확인</button>
            <%}%>
            <td style="vertical-align: middle"><%=addr[0]%> <%=addr[1]%></td>

        </div></tr></tbody>
        <%}}%>
    </table>
</div>

<script type="text/javascript">
   function purchase_delete_popup(item_code){
       var result = confirm("장바구니에서 상품을 제거하시겠습니까?");
       // 결제 시스템 추후 추가 구현
       if(result){
           $.ajax({// 서버로 데이터 전송
               url:'/mypage/control',
               type:'post',
               data:{"i_code":item_code},
               success: function(data) {
                   var sign = JSON.parse(JSON.stringify(data));
                   sign = sign.data;

                   if(sign == "delete error") {
                       alert("장바구니에서 해당 상품을 제거할 수 없습니다. 다시 시도해주십시오.");
                       window.location.reload();
                       return false;
                   }
                   else{
                       alert("장바구니에서 해당 상품을 제거하였습니다.");
                       window.location.reload();
                       return true;
                   }
               },
               error:function (data){}
           })   //ajax
       }
       else{
           alert("결제를 취소하셨습니다.");
           window.location.reload();
       }
   }

    function purchase_popup(i_code, buy_count) {
       var item_code = parseInt(i_code);
       console.log(item_code, buy_count);
       var result = confirm("결제하시겠습니까?");
        // 결제 시스템 추후 추가 구현
        if(result){
            $.ajax({// 서버로 데이터 전송
                url:'/mypage/control',
                type:'post',
                data:{"i_code":item_code, "b_count":buy_count},
                success: function(data) {
                    var sign = JSON.parse(JSON.stringify(data));
                    sign = sign.data;

                    if(sign == "Purchase error") {
                        alert("구매할 수 없습니다. 다시 시도해주십시오.");
                        window.location.reload();
                        return false;
                    }
                    else{
                        alert("구매가 완료되었습니다.");
                        window.location.reload();
                        return true;
                    }
                },
                error:function (data){}
            })   //ajax
        }
        else{
            alert("결제를 취소하셨습니다.");
            window.location.reload();
        }
    }

    function delivery_complete(item_code) {
        var result = confirm("배송 목록에서 해당 상품을 삭제하시겠습니까?");
        // 결제 시스템 추후 추가 구현
        if(result){
            $.ajax({// 서버로 데이터 전송
                url:'/mypage/control',
                type:'post',
                data:{"b_code":item_code},
                success: function(data) {
                    var sign = JSON.parse(JSON.stringify(data));
                    sign = sign.data;

                    if(sign == "delete error") {
                        alert("배송 목록에서 해당 상품을 삭제할 수 없습니다.");
                        window.location.reload();
                        return false;
                    }
                    else{
                        alert("배송 목록에서 해당 상품을 삭제하였습니다.");
                        window.location.reload();
                        return true;
                    }
                },
                error:function (data){}
            })   //ajax
        }
        else{
            alert("결제를 취소하셨습니다.");
            window.location.reload();
        }
    }
</script>
</body>
</html>
