<!DOCTYPE html>
<html>
<head>
    <title>Born-Chic</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="/javascript/functions.js"></script>
    <style>
        .carousel-inner > .carousel-item > img{  width: 700px; height: 100px;  }
        .text-center {font-size: small;}
    </style>

</head>
<body>
<a href="/main"  class="nav-link"> <div class="jumbotron text-center">
        <h1 style="color: dimgrey">Born-chic</h1>
    </div></a>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" style="color: aliceblue">Menu</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a href="/itemlist/m_outer/1" class="nav-link">남성 아우터</a></li>
            <li class="nav-item"><a href="/itemlist/m_tops/1" class="nav-link">남성 상의</a></li>
            <li class="nav-item"><a href="/itemlist/m_bottoms/1" class="nav-link">남성 하의</a></li>
            <li class="nav-item"><a href="/itemlist/w_outer/1" class="nav-link">여성 아우터</a></li>
            <li class="nav-item"><a href="/itemlist/w_tops/1" class="nav-link">여성 상의</a></li>
            <li class="nav-item"><a href="/itemlist/w_bottoms/1" class="nav-link">여성 하의</a></li>
        </ul>
        <form class="navbar-form pull-left" role="search" method="post">
            <div class="input-group">
                <input type="text" class="form-control" name="search" placeholder="Search">
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-default">검색</button>
                </div>
            </div>
        </form>
        <%if(user_id == ''){%>
            <ul class="navbar-nav">
                <li class="nav-item"><a href="/main/login" class="nav-link">Login</a></li>
            </ul>
        <%}else{
        if(admin == '' || admin == 0){%>
            <ul class="navbar-nav">
                <li class="nav-item "><a class="nav-link" href="/mypage">마이페이지</a></li>
                <li class="nav-item "><a class="nav-link" href="/main/delete_cookie">Logout</a></li>
            </ul>
        <%} else{%>
            <ul class="navbar-nav">
                <li class="nav-item "><a class="nav-link" href="/manage/m_outer/1">물품관리</a></li>
                <li class="nav-item "><a class="nav-link" href="/usermanage">회원관리</a></li>
                <li class="nav-item "><a class="nav-link" href="/main/delete_cookie">Logout</a></li>
            </ul>
        <%}%>
        <%}%>
    </div>
</nav>
<br><br>
<%for(var i=0; i<rows.length; i++){
if(rows[i].u_admin==1){%>
<p><%=rows[i].u_id%></p>
<p><%=rows[i].pwd%></p>
<p><%=rows[i].u_name%></p>
<p><%=rows[i].addr%></p>
<p><%=rows[i].u_number%></p>
<%}}%>

<br><br>
<%for(var i=0; i<rows.length; i++){
    if(rows[i].u_admin==0){%>
    <p onclick="change_user_id('<%=rows[i].u_id%>')"><%=rows[i].u_id%></p>
    <p><%=rows[i].pwd%></p>
    <p><%=rows[i].u_name%></p>
    <p><%=rows[i].addr%></p>
    <p><%=rows[i].u_number%></p>
<%}}%>

<input type="hidden" id="user_id" value=""/>
<textarea id="message_content" ></textarea>

<button class="btn btn-dark btn-sm" type="button" onclick="send_message()"></button>
<script>
    function change_user_id(user_id){
        $('#user_id').val(user_id);
        $('#message_content').attr('placeholder',user_id+'님에 대한 메시지를 작성하세요');
    }

    function send_message(){
        var content = $('#message_content').val();
        var user_id = $('#user_id').val();
        $.ajax({// 서버로 데이터 전송
            url: "/usermanage/sendmessage",
            type: 'post',
            data: {
                "user_id":user_id,"content":content,
            },
            success: function (data) {
                var sign = JSON.parse(JSON.stringify(data));
                sign = sign.data;

                if (sign == "error") {
                    alert("메시지를 전송할 수 없습니다. 다시 시도주십시오.");
                    window.location.reload();
                    return false;
                } else {
                    alert("메시지를 전송했습니다.");
                    window.location.reload();
                    return true;
                }
            },
            error: function (data) {
            }
        })   //ajax
    }
</script>
</body>
</html>
